.dark {
  --color-bg-primary: #141115;
  --color-text-primary: #fb8b24;
  --color-text-constrast: #c66e1b;
  --color-border-primary: #fef9ff;
  --color-bg-secondary: #4b5563;
  --color-shadow-primary: #fb8b24;
  --color-bg-bar: #c66e1b;
}

.light {
  --color-bg-primary: #f7f7f2;
  --color-text-primary: #51355a;
  --color-text-contrast: #4b3870;
  --color-border-primary: #141115;
  --color-bg-secondary: #d1d5db;
  --color-shadow-primary: #7761a1;
  --color-bg-bar: #4b3870;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
